header.header {
    min-height: 100px;
    padding: 0 var(--pg150);
}

.logotype {
    font-size: var(--font-size0);
    letter-spacing: 6px;
    font-weight: var(--bold);
}

button.nav-bar-btn {
    width: 25px;
    height: 20px;
}

.nav-bar-row {
    width: 100%;
    height: 4px;
    border-radius: var(--border-radius3);
    background-color: var(--color2);
}